body {
  margin: 0;
}
header {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 400px;
}

header .title a h2 {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 6px;
}
header .title a {
  color: black;
  text-decoration: none;
}
header .navigation nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .navigation nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}
header .navigation nav ul li a:hover {
  color: gray;
}
header .navigation nav ul li {
  list-style: none;
}
header .navigation nav ul li button {
  padding: 10px 20px;
  border: 1px solid black;
  background-color: orange;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
header .navigation nav ul li button:hover {
  background-color: black;
  color: orange;
}
main {
  display: flex;
  flex-direction: column;
}
main .communicate {
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .communicate .content_A {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .communicate .content_A h1 {
  font-size: 48px;
  margin: 0;
}
main .communicate .content_A h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
main .communicate .content_A button {
  width: 120px;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
main .communicate .content_A button:hover {
  background-color: orange;
  color: black;
}
main .communicate .content_A .speed {
  font-size: 20px;
}
main .communicate .content_A .speed nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
main .communicate .content_A .speed nav ul li {
  list-style: none;
  font-weight: 400;
}
main .With {
  width: 100vw;
  height: 70vh;
  background-color: #ffbf23;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .With p {
  font-size: 20px;
  font-weight: 400;
}
main .With h1 {
  font-size: 50px;
  font-weight: 100;
}
main .what {
  margin-top: 70px;
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main .what .we {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 240px;
}
main .what .we h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}
main .what .we p {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
}
main .what .foto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
main .what .foto div img {
  width: 225px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
}
main .built {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main .built .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .built .content h1 {
  font-size: 36px;
  font-weight: 100;
}
main .built .content p {
  font-size: 20px;
  font-weight: 100;
}
main .built .content div nav ul {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
main .built .content div nav ul li {
  list-style: none;
  font-weight: 100;
  font-size: 16px;
}
main .leader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: pink;
}
main .leader .leader-logo {
  display: grid;
  margin: 50px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
main .leader .leader-logo img {
  width: 100px;
  height: 100px;
}

main .leader .leader-content {
  display: flex;
  flex-direction: column;

  gap: 10px;
  margin-top: 50px;
  margin-left: 150px;
}
main .leader .leader-content h1 {
  font-size: 36px;
  font-weight: 100;
}

main .leader .leader-content p {
  font-size: 20px;
  font-weight: 100;
}
